shamefully-hoist=true
enable-pre-post-scripts=true
omit=optional
node-linker=hoisted
public-hoist-pattern[]=pg
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*bcrypt*
public-hoist-pattern[]=*node-pre-gyp*
