.buttonWrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 0.3125rem;
  background-color: white; /* Todo: make this dynamic */
  background-color: var(--background);
}

.animatedBackground {
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    transparent 0deg,
    #4f46e5 60deg,
    transparent 120deg,
    transparent 360deg
  );
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .animatedBackground {
    background-color: rgba(255, 255, 255, 0.1); /* dark:bg-white/10 */
    background-image: conic-gradient(
      from 0deg at 50% 50%,
      transparent 0deg,
      #818cf8 60deg,
      transparent 120deg,
      transparent 360deg
    );
  }
}
