:root {
  --salmon: #ff2975;
  --cyan: #00fff1;
  --teal: rgb(30, 159, 196);
  --purple: rgb(139, 92, 246);
  --pink: rgb(255, 25, 194);
  --yellow: rgb(253, 216, 53);
  --orange: rgb(255, 111, 0);
  --green: rgb(34, 197, 94);
}
