@import "./shadcn-theme.css";
/* @import "./shadcn-ui.css"; */

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 20, 188, 0.749);
}
